* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px auto;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding-bottom: 200px;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.frame-in-row1, .frame-in-row2 {
  display: flex;
  gap: 2px;
}

.frame1 {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #fa925d;
  margin-left: 20px;
  filter: blur(1px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
}

.f1-rec1 {
  background-color: #FFCC04;
  width: 180px;
  height: 90px;
  margin: 20px auto;
  filter: blur(2px);
  transform: rotate(0.6deg);
  border-radius: 10px 20px 16px 10px;
}

.f1-rec2 {
  background-color: #FF6833;
  width: 180px;
  height: 160px;
  margin: 20px auto;
  transform: rotate(-0.2deg);
  filter: blur(1px);
}

.frame2 {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #CD343E;
  margin-left: 20px;
  filter: blur(1px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
}

.f2-rec1 {
  background-color: #616D7A;
  width: 190px;
  height: 150px;
  margin: 20px auto 0;
  filter: blur(2px);
  transform: rotate(0.6deg);
  border-radius: 10px 5px 3px 2px;
  border: none;
}

.f2-rec2 {
  background-color: #16165a;
  width: 188px;
  height: 5px;
  margin: 0 auto;
  filter: blur(2px);
  transform: rotate(0.6deg);
}

.frame3 {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #CF6626;
  margin-left: 20px;
  filter: blur(1px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
}

.f3-rec1 {
  background-color: #DF9D01;
  width: 198px;
  height: 200px;
  margin: 5px auto 0;
  filter: blur(2px);
  transform: rotate(0.6deg);
  border-radius: 10px 20px 16px 10px;
}

.f3-rec2 {
  background: linear-gradient(#276B92 80%, #4984ac);
  width: 180px;
  height: 85px;
  margin: 0 auto;
  transform: rotate(0.4deg);
  filter: blur(2px);
}

.frame4 {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #E48F12;
  margin-left: 20px;
  filter: blur(1px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
}

.f4-rec1 {
  background-color: #E8DA29;
  width: 185px;
  height: 30px;
  margin: 5px auto 0;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 2px 5px 3px 2px;
}

.f4-rec2 {
  background-color: #F17016;
  width: 185px;
  height: 170px;
  margin: 0 auto;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 2px;
}

.f4-rec3 {
  background-color: #A4292D;
  width: 185px;
  height: 60px;
  margin: 0 auto;
  filter: blur(2px);
  transform: rotate(-0.6deg);
  border-radius: 2px;
}

.f4-rec4 {
  background-color: #F2861B;
  width: 185px;
  height: 30px;
  margin: 0 auto;
  filter: blur(2px);
  transform: rotate(-0.2deg);
  border-radius: 2px;
}

.frame5 {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #C2A992;
  margin-left: 20px;
  filter: blur(1px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
}

.f5-rec1 {
  background-color: #C2A992;
  width: 185px;
  height: 140px;
  margin: 5px auto 0;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 2px 5px 3px 2px;
}

.f5-rec2 {
  background-color: #B52F2C;
  width: 195px;
  height: 110px;
  margin: 0 auto;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 10px 8px 7px 8px;
}

.f5-rec3 {
  background-color: #B52F2C;
  width: 185px;
  height: 20px;
  margin: 5px auto;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 5px 2px 5px 3px;
}

.frame6 {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #4d0f00;
  margin-left: 20px;
  filter: blur(1px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
}

.f6-rec1 {
  width: 185px;
  height: 70px;
  background-color: #efb762;
  margin: 5px auto;
  box-shadow: 0 0 3px 3px #efb762;
  border-radius: 9px;
  transform: rotate(-0.6deg);
  filter: blur(1px);
}

.f6-rec2 {
  width: 185px;
  height: 120px;
  background-color: #8f0401;
  margin: 0 auto 10px;
  box-shadow: 0 0 3px 3px #8f0401;
  border-radius: 8px 10px 8px 10px;
  transform: rotate(0.4deg);
  filter: blur(1px);
}

.f6-rec3 {
  width: 91%;
  height: 28%;
  background-color: #b20403;
  margin: auto;
  filter: blur(2px);
  box-shadow: 0 0 5px 5px #b20401;
  border-radius: 30px 25px 60px 12px;
  transform: rotate(-0.2deg);
}

.frame7 {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #B8604F;
  margin-left: 20px;
  filter: blur(1px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
}

.f7-rec1 {
  background-color: #B02D32;
  width: 175px;
  height: 210px;
  margin: 10px auto;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 2px 5px 3px 2px;
}

.f7-rec2 {
  background-color: #C22610;
  width: 185px;
  height: 60px;
  margin: 0 auto;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 10px 8px 7px 8px;
}

.frame8 {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #E6AA36;
  margin-left: 20px;
  filter: blur(1px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
}

.f8-rec1 {
  background-color: #D9B151;
  width: 190px;
  height: 40px;
  margin: 0 auto;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 2px 5px 3px 2px;
}

.f8-rec2 {
  background-color: #D37528;
  width: 198px;
  height: 150px;
  margin: 0 auto;
  border-bottom: 6px solid #EAD59F;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 10px 8px 7px 8px;
}

.f8-rec3 {
  background-color: #D47740;
  width: 195px;
  height: 100px;
  margin: 0 auto;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 10px 8px 7px 8px;
}

.frame9 {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #221B1D;
  margin-left: 20px;
  filter: blur(1px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
}

.f9-rec1 {
  background-color: #D9724F;
  width: 180px;
  height: 180px;
  margin: 25px auto 0;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 20px 18px 16px 14px;
}

.f9-rec2 {
  background-color: #AB5A45;
  width: 170px;
  height: 80px;
  margin: 0 auto;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 20px 15px 19px 16px;
}

.frame10 {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #FAE7C7;
  margin-left: 20px;
  filter: blur(1px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
}

.f10-rec1 {
  background-color: #037B62;
  width: 160px;
  height: 200px;
  margin: 10px auto;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 20px 18px 16px 14px;
}

.f10-rec2 {
  background-color: #037B62;
  width: 150px;
  height: 60px;
  margin: 5px auto;
  filter: blur(2px);
  transform: rotate(0.2deg);
  border-radius: 20px 15px 19px 16px;
}